**/test                       export-ignore
.bazel*                       export-ignore
.git*                         export-ignore
.pre-commit-config.yaml       export-ignore
.prettierignore               export-ignore
docs/private                  export-ignore
cmd                           export-ignore
e2e                           export-ignore
examples                      export-ignore
go.mod                        export-ignore
scripts                       export-ignore
toolchains/BUILD.bazel        export-ignore
toolchains/private            export-ignore
